{% extends 'base.html.twig' %}

{% block body %}
    <div style="
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 100px;
    margin: auto;">
        <div id="container ">
            <button type="submit"  class="btn btn-outline-dark me-2"> <a href="/login" class="d-flex align-items-center mb-1 mb-lg-0 text-black text-decoration-none">
                   Login
                </a> </button>
            <button type="submit"  class="btn btn-outline-dark me-2"> <a href="/Register" class="d-flex align-items-center mb-1 mb-lg-0 text-black text-decoration-none">
                    Register
                </a> </button>




        </div>
    </div>
{% endblock %}

