
{% extends "base.html.twig" %}

{% block body%}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="/login" method="POST">

    <h1>PLease Login</h1>
    <br>
    <label for="email_id">Email Id:</label>
    <input type="text" id="email_id" name="email_id" value="{{ last_username }}" />
    <br>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />
    <br>
    <br>
    <button type="submit" >login</button>
</form >
<br>
<form action="/User/">

    <button type="submit" >Create New User</button>

</form>

{% endblock %}